:root {
  --main-margin-medium: 40px;
  --main-margin-normal: 80px;
  --main-orange: #ECCB6B;
  /* --default-font-family: 'Open Sans', 'PingFang SC', sans-serif; */
  /* --default-font-family: "Roboto", "Helvetica", "sans-serif"; */
  --default-font-family: "PingFang SC", "Roboto", "Helvetica", "sans-serif";
}

body {
  margin: 0;
  background: var(--main-orange);
  /* background: #f2f2f2; */
  /* background: #34495e; */
  /* background: #fefefe; */
  /* background: #143ACF; */
  /* background: #CBCED5; */
  /* background: #EAC4BF; */
  font-family: var(--default-font-family);
}
h1 {
  font-weight: normal;
  text-transform: capitalize;
}
h1, h2, h3 {
  margin-top: 1.5em;
}
/* header nav footer */

#meta {
  font-style: italic;
  font-size: 0.9em;
  font-family: serif;
  margin-bottom: 3.5em;
}
#meta > a > img {
  vertical-align: text-bottom;
}
.date {
  /* position: relative; */
  float: right;
  color: #999;
  padding-bottom: 0;

  /* background: #eee; */
  padding: 0px 4px 0px;
  margin: 2px;
  border-radius: 4px;
  border: 1px dashed #999;

}
.entry {
  border-bottom: 1px dashed #999;
  /* padding-bottom: 5px; */
}

nav > ul {
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
nav > ul > li {
  display: inline-block;
  font-size: 1.2em;
  list-style: none;
  /* font-weight: bold; */
  color: #fff;
}
a {
  color: unset;
  text-decoration: none;
}
nav a:active {
  text-decoration: underline;
  /* background: rgba(255, 255, 255, 0.8); */
}
nav a {
  padding: 0 5px;
}
nav a:hover, nav a#active  {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}
nav a#active {
  background: rgba(255, 255, 255, 0.2);
}
nav > ul > li > a:visited {
}
footer {
  /* padding-left: 2em; */
  bottom: 0;
  height: 20px;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
}
/* content */
main {
  overflow:auto;
  /* color: rgba(0,0,0,.84); */
  /*color: #34495e;*/
  color: #4a4a4a;
  background: #fff;
  min-height: calc(100vh - 15px);
  -webkit-font-smoothing: antialiased;
}
main > * {
  margin-left: 15px;
  margin-right: 15px;
  /* border-right: 1px solid black; */
}
p {
  /* font-size: 1.1em; */
  line-height: 1.7;
  margin-top: 1.4em;
}
.section-number {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  color: #a4b9ce;
  padding-right: 0.5em;
}
main a {
  color: #0069d6;
}
main a:hover {
  box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
}
ol, ul {
  /* padding-left: 0; */
  /* list-style-position: inside; */
  padding-left: 1.2em;
}
ol, ul, dl {
  box-sizing: border-box;
  /* margin-left: 40px; */
  margin-top: 0;
}
li, th, td {
  /* line-height: 0.95em; */
  font-size: 0.9em;
  /* color: #555; */
  line-height: 1.8;
}
dt {
  /* color: unset; */
  /* font-weight: bold; */
}
dt:after {
  content: ' ::';
  font-weight: bold;
  /* color: #aaa; */
}
dd {
  margin-inline-start: 0;
  font-size: 0.9em;
  color: #aaa;
}
.table-container {
  margin: unset;
  overflow-x: auto;
}
main > pre, main > blockquote {
  margin: unset;
  line-height: unset;
  background: rgba(240,240,235,.4);
  overflow: auto;
  padding: 10px 15px;
  border: 1px solid #eee;
}
main > blockquote {
  overflow: visible;
}
/* ?????? */
pre.infopre {
  background: unset;
  color: #aaa;
  margin-top: 20px;
  border: none;
}
/* main > pre > code.language-unknown { */
code {
  font-family: 'menlo', monospace;
}
main > pre, /*for bad not so bad*/
main > pre > code {
  font-family: 'menlo', monospace;
  font-size: 0.9em;
}
:not(pre) > code {
  /* background-color: #fee9cc; */
  background: rgba(254,233,204, 0.6);
  /* background: rgba(240,240,235,.7); */
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}
span.task-status {
  padding: 0 0.2em;
  margin-right: 10px;
  color: white;
}
span.task-status.todo {
  background-color: rgb(39, 149, 182);
}
table {
  text-align: left;
  border-collapse: collapse;
  margin: auto;
}
tr:nth-child(2n+1) {
  background: #eee;
}
th, td {
  min-width: 50px;
  padding: 2px 10px;
  border: 1px solid #ddd;
}
.tags {
  /* margin-top: 0; */
  margin-bottom: 5px;
  display: inline-block;
  font-family: var(--default-font-family);
}
.tags > span {
  /* background:#ECCB6B; */
  padding: 0px 4px 1px;
  margin: 2px 4px 2px 0;
  border-radius: 4px;
  display: inline-block;
  cursor: not-allowed;
  /* color */
  color:#fff;
  background: #eccb6b;
  border: 1px solid #dcbb5b;
}
pre .tags > span {
  margin-bottom: 5px;
}
blockquote {
  color: #888;
  /* font-style: italic; */
  font-family: serif;
  font-size: 1.1em;
}
blockquote > p{
  /* display: inline; */
  line-height: 1.2;
  margin: 1px;
}
blockquote:before {
  color: #ccc;
  /* content: open-quote; */
  content: '“';
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  margin-left: 0;
  /* vertical-align: -0.3em; */
  float: left;
  position: relative;
  top: 0.1em;
}
#eof {
  font-size: 2em;
  margin: 50px;
  /* margin-left: 300px; */
  text-align: center;
  display: block;
  color: #a4b9ce;
}

div#animation-container {
  /* position: absolute; */
  position: fixed;
  margin: 0;
  /* padding-left: 50vw; */
  top: 15px;
}
@media only screen and (max-width: 999px) {
  header {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  header svg{
    /* margin: auto; */
    /* display: block; */
  }
  p.img-container {
    margin: 0;
    /* display: flex; */
    /* flex will stretch img */
  }
  p > img,
  p.img-container > img {
    max-width: 100%;
    margin: auto;
    display: block;
  }
  div#animation-container {
    top: 44px;
  }
  img#top, img#foothold {
    /*won't affected by JS*/
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  main {
    margin:0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
  }
  main > * {
    margin-left: var(--main-margin-medium);
    margin-right: var(--main-margin-medium);
  }
  main > h2, main > h3, main > h4 {
    margin-left: unset;
  }
  main > pre, main > blockquote {
    padding-left: var(--main-margin-medium);
  }
  .section-number {
    width: var(--main-margin-medium);
  }
  pre.infopre {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin:15px 15px 0 250px;
  }
  main > * {
    max-width: 648px;
    margin-left: var(--main-margin-normal);
    /* padding: 0; */
  }
  h1, h2, h3 {
    max-width: unset;
  }
  img {
    max-width: 1000px;
  }
  .section-number {
    width: var(--main-margin-normal);
  }
  .table-container {
    margin-left: var(--main-margin-normal);
    max-width: calc(100% - 120px);
    /* overflow-x: visible; */
  }
  table {
    min-width: 648px;
    margin: unset;
  }
  main > pre, main > blackquote {
    border-left: none;
  }
  main > blockquote {
    padding-left: var(--main-margin-normal);
    padding-right: 10px;
    max-width: 638px;
  }
  main > pre {
    max-width: calc(100% - 120px);
    min-width: 638px;
    margin-left: unset;
    width: fit-content;
    padding-left: var(--main-margin-normal);
    padding-right: 10px;
  }
  /* head nav footer */
  nav, header, footer {
    position: fixed;
    /* bottom: 0; */
    width: 250px;
  }
  header {
    top: 0;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav {
    top: 250px;
  }
  nav > ul {
    display: unset;
  }
  nav > ul > li {
    margin-left: 65px;
    display: block;
    font-size: 2em;
  }
  footer {
    position: fixed;
    width: 250px;
    bottom: 0;
  }
  img#top, img#foothold {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    width: 60px;
    position: fixed;
    right: 40px;
    bottom: 20px;
    display: none;
    animation-duration: 0.8s;
  }
  img#top:hover {
    transition: 0.20s;
    -webkit-transition: 0.20s;
    -moz-transition: 0.20s;
    -ms-transition: 0.20s;
    -o-transition: 0.20s;
    -webkit-transform: rotate(64deg);
    -moz-transform: rotate(64deg);
    -o-transform: rotate(64deg);
    -ms-transform: rotate(64deg);
    transform: rotate(64deg);
  }
  @keyframes fly {
    /* from {right: 0px; bottom: 0px} */
    /* to {bottom: 100vh; opacity: 0.1} */
    to {bottom: 100vh;}
  }
  @keyframes drop {
    /* from {right: 0px; bottom: 0px} */
    to {bottom: -40px;}
  }
  @keyframes show {
    /* from {right: 0px; bottom: 0px} */
    from {right: -40px;}
    to {right: 40px; }
  }
  @keyframes hide {
    /* from {right: 0px; bottom: 0px} */
    from {right: 40px;}
    to {right: -40px;}
  }
  pre.infopre {
    margin-top: 80px;
  }
}

/* order matters */
@media only screen and (min-width: 1600px) {
  main {
    margin:15px 15px 0 25vw;
  }
  nav, header, footer {
    /* bottom: 0; */
    width: 25vw;
    box-sizing: border-box;
    padding-right: 50px;
    text-align: right;
  }
  header {
    justify-content: flex-end;
  }
}

/* --------------- components ------------ */

/*animation*/
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  cursor: wait;
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 16px solid #fff;
  border-color: var(--main-orange) transparent var(--main-orange) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
